.innerright,
label {
    color: #0062cc;
    font-weight: bold;
}

.container,
.row,
.imglogo {
    margin: auto;
}

.innerdiv {
    text-align: center;
    /* width: 500px; */
    margin: 100px;
}

input {
    margin-left: 20px;
}

.leftinnerdiv {
    float: left;
    width: 25%;
}

.rightinnerdiv {
    float: right;
    width: 75%;
}

.innerright {
    /* background-color: rgb(105, 221, 105); */
    background-color: rgb(209, 139, 139);
    ;

}

.greenbtn {
    /* background-color: rgb(16, 170, 16); */
    background-color:purple;
    color: white;
    width: 95%;
    height: 40px;
    margin-top: 8px;
}

.greenbtn,
a {
    text-decoration: none;
    color: white;
    font-size: large;
}
.greenbtn:hover{
    background-color: aqua;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

th {
    background-color: orange;
    color: black;
}

td {
    background-color: #127768;
    color: black;
}

td,
a {
    color: black;
}